.dashboard-newsy {
    height: 95%;
    padding: 10px;
    overflow: scroll;
}

.news-crud {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.crud {
    display: flex;
    justify-content: flex-start;
}

.news-crud-btn {
    margin: 5px;
    width: 55px;
    height: 25px;
    border: none;
    background-color: rgba(14, 75, 105, 0.2);
    color: #12303a;
    font-size: 14px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(72, 110, 136, 0.658);
}