.dashboard-slot {
    height: 450px;
    margin: 0 30px 30px 30px;
    padding: 15px;
    background-image: linear-gradient(to right, rgba(99, 158, 171,0.45), rgba(99, 158, 171,0.85));
    border-radius: 10px;
}

.dashboard-slot-title {
    height: 35px;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(18, 48, 58, 0.8);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}