.services {
    height: 100%;
    overflow: scroll;
}

.services hr {
    border: 0;
    border-bottom: 1px dashed rgb(6, 56, 77);
    background: rgb(146, 176, 179);
}

.service-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.services-category {
    width: 100%;
    height: 20px;
    margin: 12px 2px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.services-subcategory {
    margin: 12px auto 6px 2px;
    font-size: 14px;
    font-weight: bold;
}

.dodaj-usluge {
    width: 100%;
    height: 40px;
    display: flex;
}

.dodaj-component {
    margin-bottom: 10px;
}

.service-name {
    margin-right: 10px;
}

.service-unit {
    margin-left: 8px;
}