.szczegoly {
    padding: 40px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.szczegoly p {
    width: 100%;
    line-height: 1.4em;
    font-size: 18px;
}

.cennik {
    /* height: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border: none;
    border-radius: 7px;
    background-color: rgba(14, 75, 105, 0.14);
    padding: 15px;
}

.cennik-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.cennik-usluga {
    margin: 10px;
    display: flex;
}