.szczegoly {
    padding: 40px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.szczegoly>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.szczegoly p {
    width: 100%;
    line-height: 1.4em;
    font-size: 18px;
}

.opis {
    position: relative;
    border-bottom: 4px solid #132f3a;
    min-height: 150px;
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.opis p {
    width: 70%;
    max-height: 80%;
}

.server-img {
    margin: 15px 15px 0 15px;
    height: 80px;
    position: absolute;
    bottom: -4px;
    left: 70%;
}

.landline-img {
    margin: 15px 15px 0 15px;
    height: 65px;
    position: absolute;
    bottom: -4px;
    left: 70%;
}

.internet-img {
    margin: 15px 15px 0 15px;
    height: 80px;
    position: absolute;
    bottom: -4px;
    left: 70%;
}

.things-img {
    margin: 15px 15px 0 15px;
    height: 130px;
    position: absolute;
    bottom: -75px;
    left: 70%;
}

.cennik {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 7px;
    background-color: rgba(14, 75, 105, 0.14);
    padding: 15px;
}

.cennik-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.cennik-usluga {
    margin: 10px;
    display: flex;
}

.cennik-subcat {
    font-size: 0.85em;
    font-weight: bold;
    margin: 5px 10px;
}

@media only screen and (max-width: 768px) {

    .szczegoly {
        padding: 40px;
    }

    .opis {
        min-height: 200px;
        width: 100%;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
    
    .opis p {
        width: 100%;
        max-height: 90%;
    }

    .things-img {
        left: 50%;
    }

}

