.header {
    height: 200px;
    width: 100%;
    background-color: rgb(18, 48, 58);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dark-stripe {
    width: 15%;
}

.blue-stripe {
    width: 15%;
    height: 67px;
    background-color: rgba(99, 158, 171,1);
}

.head {
    width: 70%;
    height: 100%;
    position: relative;
    background-color: #12303a;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.logo {
    height: 105px;
    position: absolute;
    left: 10px;
    top: 35px;
}

.head-container {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 67px;
    background-image: linear-gradient(to right, rgba(99, 158, 171,0), rgba(99, 158, 171,1) ) 
}

.head-link {
    font-size: 1.4em;
    color: #D9FDFF;
    text-shadow: 1px 1px 1px rgba(72, 110, 136, 0.9);
    margin: 0 5px;
    padding: 20px;
    text-decoration: none;
}

@media only screen and (max-width: 768px) { 
    .header {
        height: 20vh;
        width: 100vw;
    }

    .head {
        width: 86%;
    }

    .logo {
        height: 8.5vh;
        left: 0px;
        top: 15px;
    }

    .dark-stripe {
        width: 7%;
    }
    
    .blue-stripe {
        width: 7%;
        height: 30%;
    }

    .head-container {
        width: 100%;
        height: 30%;
        align-items: center;
    }

    .head-link {
        font-size: 1.1em;
        padding: 10px;
    }
  }